# ------------------------------------------- #
# More information at http://editorconfig.org #
# ------------------------------------------- #


# Top-most EditorConfig file
root = true


# Apply To All
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120


[*.md]
trim_trailing_whitespace = false


[Makefile]
indent_style = tab


[*.{json}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 4

# Matches the exact files: composer.json
[{composer.json}]
indent_style = space
indent_size = 4
